<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="conString" value="Server=FRED;Database=AdventureWorks2017;Integrated Security=SSPI;"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>