<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connString" connectionString="Server=192.168.92.1\SQLEXPRESS,1433;Database=AdventureWorks2014;Integrated Security=SSPI;Connect Timeout=30;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>