<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SQLConnString" value="Server=FRED\MSSQLSERVER01;Initial Catalog=AdventureWorks2017;Integrated Security=SSPI"/>
  </appSettings>
  <connectionStrings>
    <add name="connString" connectionString="Server=FRED\MSSQLSERVER01;Initial Catalog=AdventureWorks2017;Integrated Security=SSPI"/>
  </connectionStrings>
</configuration>