<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMathServiceWCF" />
                <binding name="BasicHttpBinding_IToUpperService" />
                <binding name="BasicHttpBinding_IStringGetLength" />
                <binding name="BasicHttpBinding_IGetDataTableFromDB" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:30985/MathServiceWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMathServiceWCF"
                contract="MathServiceWCF.IMathServiceWCF" name="BasicHttpBinding_IMathServiceWCF" />
            <endpoint address="http://localhost:30985/ToUpperService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IToUpperService"
                contract="ToUpperServiceWCF.IToUpperService" name="BasicHttpBinding_IToUpperService" />
            <endpoint address="http://localhost:31475/StringGetLength.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStringGetLength"
                contract="StringGetLengthService.IStringGetLength" name="BasicHttpBinding_IStringGetLength" />
            <endpoint address="http://localhost:30985/GetDataTableFromDB.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetDataTableFromDB"
                contract="GetDataTableService.IGetDataTableFromDB" name="BasicHttpBinding_IGetDataTableFromDB" />
        </client>
    </system.serviceModel>
</configuration>